$icomoon-font-path: "fonts" !default;

$i-minus: "\e90e";
$i-plus: "\e90f";
$i-phone2: "\e90b";
$i-play-button: "\e90c";
$i-arrow_left: "\e902";
$i-arrow_right: "\e903";
$i-chevron_down: "\e904";
$i-chevron_up: "\e90d";
$i-chevron_left: "\e905";
$i-chevron_right: "\e906";
$i-close: "\e907";
$i-humburger: "\e908";
$i-search: "\e909";
$i-user: "\e90a";
$i-cart: "\e900";
$i-phone: "\e901";

