//типовые отступы
$margin-s: 10px; //маленький
$margin-m: 20px; //средний
$margin-l: 30px; //большой

//отступы контента
$padding-s: 15px;
$padding-m: 15px;
$padding-t: 40px;
$padding-d: 40px;
$padding-w: 80px;

$phone-width: 320px;
$tablet-width: 768px;
$small-desktop-width: 992px;
$desktop-width: 1200px;
$wide-desktop-width: 1400px;

