body {
  font: 14px/1.2 $ClearSansRegular;
  color: $default_t_color;
  background: #edeff5;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.wrapper {
  overflow: hidden;
}

.section {

  &__caption {
    font-size: 30px;
    margin-bottom: 17px;

    .b-product__category & {
      letter-spacing: .035em;
    }

    .b-product__range-w > & {
      letter-spacing: .02em;
      margin: 50px 0 55px;

      @include small-desktop() {
        margin: 45px 0 50px;
      }

      @include tablet() {
        padding: 0 40px;
        letter-spacing: -.02em;
      }

      @include phone() {
        margin: 55px 0 35px;
        padding: 0;
        letter-spacing: -.01em;
      }
    }

    @include small-desktop() {
      margin-bottom: 20px;
    }

    @include phone() {
      font-size: 22px;
      margin-bottom: 15px;
    }
  }

  &__title {
    padding: 50px 0 53px;

    &._title-red {
      background: $gl_red;
    }

    &._title-black {
      background: $gl_black;

      @include tablet() {
        padding-top: 40px;
      }

      @include phone() {
        //padding-top: 25px;
        padding-top: 47px;
      }
    }

    &._similar {
      padding: 65px 0 75px;

      @include wide-desktop() {
        padding: 60px 0 80px;
      }

      @include small-desktop() {
        padding: 55px 0 88px;
      }

      @include tablet() {
        padding: 57px 40px 85px;
      }

      @include phone() {
        padding: 65px 0 90px;
      }
    }

    &-text {
      color: #fff;
      font-size: 30px;
      letter-spacing: .02em;
      margin-bottom: 22px;

      ._title-red._mod-1 & {
        @include small-desktop() {
          letter-spacing: -.01em;
        }

        @include phone() {
          letter-spacing: .02em;
        }
      }

      @include phone() {
        font-size: 22px;
      }
    }

    @include small-desktop() {
      padding-top: 45px;
    }

    @include tablet() {
      padding-bottom: 56px;

      &._mod-1 {
        padding-bottom: 50px;
      }
    }

    @include phone() {
      padding: 25px 0 42px;

      &._mod-1 {
        padding-bottom: 42px;
      }

      &._card {
        padding: 25px 0 17px;
      }

      &._news {
        padding: 25px 0 42px;
      }
    }
  }

  &__inner {
    @extend %clearfix;
    width: 100%;
    padding: 0 $padding-w;
    margin: 0 auto;
    max-width: 1400px;

    &._menu_section {
      @extend %global_flex_block_row_nowrap_space_between_center;

      @include phone() {
        display: block;
      }
    }

    @include wide-desktop() {
      padding: 0 $padding-d;
    }

    @include small-desktop() {
      padding: 0 $padding-t;
    }

    @include tablet() {
      padding: 0 $padding-m;
    }

    @include phone() {
      padding: 0 $padding-m;
    }
  }

  &._contacts_section {
    margin-bottom: 80px;

    @include small-desktop() {
      margin-bottom: 70px;
    }

    @include phone() {
      margin-bottom: 80px;
    }
  }
}

.dt_hidden {
  @include small-desktop() {
    display: none !important;
  }
}

.dt_vis {
  @include small-desktop-min() {
    display: none !important;
  }
}

.tab_hidden {
  @include tablet() {
    display: none !important;
  }
}

.tab_vis {
  @include tablet-min() {
    display: none !important;
  }
}

.wide_hidden {
  @include wide-desktop() {
    display: none !important;
  }
}

.wide_vis {
  @include wide-desktop-min() {
    display: none !important;
  }
}

.phone_hidden {
  @include phone() {
    display: none !important;
  }
}

.phone_vis {
  @include phone-min() {
    display: none !important;
  }
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.dm {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.clear {
  clear: both;
}

.clearfix {
  @extend %clearfix;
}

.gl-overlay {
  position: fixed;
  top: -200px;
  bottom: -200px;
  left: -200px;
  right: -200px;
  background: transparentize($gl_black, .6);
  z-index: 18;

  .always_opened & {
    display: none !important;
  }
}

._wnw {
  white-space: nowrap;
}

._rub {
  font-family: $PTRoubleSans;
}

._t-c {
  text-align: center;
}

._fw-bold {
  font-family: $ClearSansBold;
}

._fz-16 {
  font-size: 16px;
}

@-webkit-keyframes loadingAnim {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes loadingAnim {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
} 
