mixin dev_head(page_title, scripts)
  head
    title=page_title
    | <!-- saved from url=(0014)about:internet -->
    meta(charset='utf-8')
    meta(name='viewport', content="width=device-width, initial-scale=1.0")
    meta(name="SKYPE_TOOLBAR", content="SKYPE_TOOLBAR_PARSER_COMPATIBLE")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="format-detection", content="telephone=no")
    link(rel='stylesheet', href='css/style.css', media='all')
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=cyrillic" rel="stylesheet"> 

    - if (scripts && scripts.length)
      for script in scripts
        script(src= script)

    script(src='js/_vendor.js')
    script(src='js/_main.js')

mixin loop_while(counter)
  -i=0;
  while i < counter
    -i++;
    block

mixin header(nav_active, panel_active)
  header.b-header
    .b-header__menu
      .section__inner
        ul.b-header__menu-info
          li.dm.dt_hidden.b-header__worktime Пн-Чт: с 09-00 до 18-00, Пт: с 09-00 до 17-00
          li.dm
            a.gl-link._clr-red(href='#')
              span.i-phone2.dm
              span.gl-link__text.dm Заказать звонок
              
        .b-header__menu-map.menuSlider
          .swiper-container
            ul.b-header__menu-list.swiper-wrapper
              +link_or_span((map_active == 1), 'service.html' , 'Сервисный центр', 'b-header__link', 'dm swiper-slide')
              +link_or_span((map_active == 2), 'delivery.html' , 'Оплата и доставка', 'b-header__link', 'dm swiper-slide')
              +link_or_span((map_active == 3), 'about.html' , 'О компании', 'b-header__link', 'dm swiper-slide')
              +link_or_span((map_active == 4), 'contacts.html' , 'Контакты', 'b-header__link', 'dm swiper-slide')
          
            .b-header__menu-butt._prev
            .b-header__menu-butt._next

    .b-header__toolbar
      .section__inner
        .b-header__logo-w
          a.b-header__logo-link(href='index.html'): img(src='images/logo.png')
        .b-header__location.select__v1._select-v1.skipOverlayClosing
          select.select2()
            option Пермь
            option Москва
            option СПб
            option Новоархангельск

        ul.b-header__user
          li.dm
            a.b-header__user-link(href='lk.html')
              span.b-header__user-icon.i-user._clr-gray_light
              span.b-header__user-text.dm Личный кабинет<br>и статус заказа
          li.dm
            a.b-header__user-link(href='cart.html')
              span.b-header__user-icon.i-cart._clr-red
              span.b-header__user-text.dm В корзине<br>нет товаров
              
        .b-header__search-w.headerSearch
          a.butt.butt__search.butt-gray.phone_vis(href='search.html')
            span.i-search
          form.f-input__w.b-header__search.phone_hidden(action='#')
            input.f-input.input__v1.autocomplete(placeholder='Что Вы ищете?')
            button.butt.butt__search
              span.i-search

    .b-header__nav-w
      .section__inner._menu_section
        .b-header__nav-btn.mobMenuBtn.phone_vis
          span.i-humburger.b-header__link-icon

        .b-header__nav.mainNav
          .b-header__nav-header.phone_vis
            span Главное меню
            span.b-header__nav-close.i-close.mobMenuBtn
            
          ul.b-header__nav-list
            li.b-header__nav-dropdown-w(class= menu_open_dt ? 'always_opened' : '')
              a.b-header__link.dropdownBtn.b-header__link-dropdown(href='#')
                span.i-humburger.b-header__link-icon.phone_hidden
                span.dm Каталог продукции
                
              ul.b-header__nav-dropdown
                li
                  a.b-header__link.b-header__link-dropdown.openSubmenu(href="stripe_1.html")
                    span.dm Лента конвейерная GR
                    
                  ul.b-header__nav-dropdown
                    +link_or_span((dropdown_active == 12), 'catalog.html' , 'Конвейерная лента GR', 'b-header__link', '')
                    +link_or_span((dropdown_active == 12), 'category.html' , 'Лента резинотканевая Сибирь', 'b-header__link', '')
                    +link_or_span((dropdown_active == 12), 'product.html' , 'Шевронная лента GR', 'b-header__link', '')
                    +link_or_span((dropdown_active == 12), 'tv.html' , 'Лента теплостойкая GR', 'b-header__link', '')
                    +link_or_span((dropdown_active == 12), 'history.html' , 'Лента морозостойкая GR', 'b-header__link', '')
                    +link_or_span((dropdown_active == 12), 'stripe_2.html' , 'Плоские ремни из полиамида', 'b-header__link', '')
                    +link_or_span((dropdown_active == 12), 'stripe_2.html' , 'Электроизоляция GR', 'b-header__link', '')
                    +link_or_span((dropdown_active == 12), 'stripe_2.html' , 'Полимерная продукция GR', 'b-header__link', '')
                    
                +link_or_span((dropdown_active == 2), 'stripe_2.html' , 'Конвейерная лента ПВХ', 'b-header__link', '')
                +link_or_span((dropdown_active == 3), 'stripe_3.html' , 'Резинотехнические изделия', 'b-header__link', '')
                +link_or_span((dropdown_active == 4), 'stripe_4.html' , 'Асбестовые изделия', 'b-header__link', '')
                +link_or_span((dropdown_active == 5), 'stripe_5.html' , 'Стыковка конвейерной ленты', 'b-header__link', '')
                +link_or_span((dropdown_active == 6), 'stripe_6.html' , 'Плоские ремни из полиамида', 'b-header__link', '')
                +link_or_span((dropdown_active == 7), 'stripe_7.html' , 'Электроизоляция GR', 'b-header__link', '')
                +link_or_span((dropdown_active == 8), 'stripe_8.html' , 'Полимерная продукция GR', 'b-header__link', '')
                
                
            +link_or_span((nav_active == 1), 'calc.html' , 'Калькуляторы', 'b-header__link', '')
            +link_or_span((nav_active == 2), 'filter.html' , 'Подбор продукции', 'b-header__link', '')
            +link_or_span((nav_active == 3), 'stripes.html' , 'ПВХ и ПУ ленты', 'b-header__link', '')
            +link_or_span((nav_active == 4), 'tenders.html' , 'Тендеры', 'b-header__link', '')
            +link_or_span((nav_active == 5), 'news.html' , 'Новости', 'b-header__link _active', '')

        .b-header__nav.subNav.phone_vis
          .b-header__nav-header.closeSubNav
            span.i-chevron_left.dm
            span.subNavCaption Главное меню
            span.b-header__nav-close.i-close

          ul.b-header__nav-list
            li.b-header__nav-dropdown-w
              ul.b-header__nav-dropdown
                li
                  ul.b-header__nav-dropdown.subNavMenu

        .b-header__nav-contacts
          .dm: a.b-header__nav-phone._wnw(href='tel:88007072263')
            span.i-phone.dm
            span.b-header__nav-text.dm 8 800 707 22 63
            
mixin popup_order_info()
  #popup_order_info.b-popup(title='Подробнее о заказе №GR1654')
    .b-popup__inner
      
      
      
mixin b-cart__checkout()
  .b-cart__checkout
    .b-cart__checkout-head
      .b-cart__user-control
        span._label Мои данные
        span#edit_btn_1.b-cart__user-edit.editBtn(data-target='edit_1')

      .b-cart__user-name.f-edit__style-1
        span.editMe._no-edit(data-blur='ignore' data-trigger='#edit_btn_1' data-edit='textarea' data-control='edit_1') Иван Иванович Александров

      ul.b-cart__edit-controls
        li.editStartBlock
          a.butt.butt_v1.butt-gray_2.editStart(href='#' data-target='edit_2')
            span Редактировать данные
        li.editFinishBlock(style='display:none;')
          a.butt.butt_v1.butt-red.editFinish(href='#' data-target='edit_2')
            span Сохранить изменения

    .b-cart__checkout-body
      dl.b-cart__user-data.f-edit__style-2
        dt Телефон
        dd
          span.editMe._no-edit(data-control='edit_2' data-blur='ignore' data-edit='masked' data-inputmask="'mask': '[+7] (999)-999-99-99', 'clearIncomplete' : true") +7 (999) 111 - 11- 11

        dt Email
        dd
          span.editMe._no-edit(data-control='edit_2' data-blur='ignore' data-edit='textarea') info@email.ru

        dt Город
        dd
          span.editMe._no-edit(data-control='edit_2' data-blur='ignore' data-edit='textarea') Екатеринбург

        dt Страна
        dd
          span.editMe._no-edit(data-control='edit_2' data-blur='ignore' data-edit='textarea') Россия

        dt Адрес
        dd
          span.editMe._no-edit(data-control='edit_2' data-blur='ignore' data-edit='textarea') ул. Мира, д.8 стр. 2, офис 213

mixin client_section()
  .section.section__title._title-black
    .section__inner
      .section__title-text Наши клиенты

      ul.b-client__list
        +loop_while(8)
          li
            .b-client__item
              img(src='images/client_1.png')

mixin calc_form()
  .f-row
    .f-row__col
      .f-input__w
        input.f-input.input__v1(placeholder='Вид производства (пищевое или промышленное)' class='validate[required]')
      .f-input__w
        input.f-input.input__v1(placeholder='Контактное лицо'  class='validate[required]')
      .f-input__w
        input.f-input.input__v1(placeholder='Контакты для связи (e-mail, телефон)' class='validate[required]')

    .f-row__col
      .f-input__w
        textarea.f-input.input__v1(placeholder='Наименование компании/комментарий')

      .f-input__w
        button.butt.butt-red.butt_v1._w-180
          span.dm Отправить

mixin delivery_section()
  .section
    .section__inner
      .b-delivery
        ul.b-delivery__list
          +loop_while(3)
            li
              .b-delivery__item
                .b-delivery__img
                  img(src='images/delivery.svg' width=78 height=65)

                .b-delivery__caption Бесплатная доставка
                p
                  span По всей России при сумме 
                  span.dt_hidden <br>
                  span заказа от 50 000 Р.-

      .b-article
        .b-article__list
          +loop_while(4)
            .b-article__box
              h2 Продажа РТИ в Москве, Люберцах, Подольске и по всей России
              p Компания «Хольцер» специализируется на производстве и продаже качественных РТИ изделий в Москве и по всей России. Такие комплектующие отличаются высокой прочностью и имеют длительный срок эксплуатации. Особое место в товарном ассортименте завода занимают неформовые РТИ, которые нашли широкое применение и востребованы в различных сферах промышленности и хозяйственной деятельности. На нашем сайте представлена продукция производителей РТИ с мировым именем, таких как Holzer Flexo, Rubber and Plastic и Gates Corporation по доступным ценам. А так же резиновые изделия под заказ собственного производства.

mixin manufactures_select()
  .b-product__range-label
    .selectTrigger.b-product__range-trigger(data-trigger-for='#manufactures')
      span Производители
      //-span.i-chevron_down 
    ._select-v2._multiselect-v2.skipOverlayClosing
      select#manufactures.select2(data-placeholder='Производители' multiple data-keep-open='true')
        option Все производители
        option Amma
        option Anatomico
        option Gess
        option Casada
        option Ceragem
        option Docstor
        option Ego
              
mixin footer()
  footer.b-footer
    .section__inner
      .b-footer__container
        .b-footer__contacts
          dl.b-footer__contacts-list
            dd 8 (495) 505-65-43
            dt Для звонков по Москве 
          dl.b-footer__contacts-list
            dd 8 (383) 363-32-14
            dt Для звонков по Новосибирску
          dl.b-footer__contacts-list
            dt Режим работы:
            dd с 9:00 до 18:00
          dl.b-footer__contacts-list
            dt г. Москва
            dd 5056543@mail.ru
          dl.b-footer__contacts-list
            dt г. Новосибирск
            dd 3633214@mail.ru
            
          ul.b-footer__payments
            li
              img(src='images/visa.png')
            li
              img(src='images/mastercard_2.png')
              
        .b-footer__menu.phone_hidden
          .b-footer__menu-col
            .b-footer__menu-caption Главное меню
            ul.b-footer__menu-list
              li: a.gl-link(href='#') Главная
              li: a.gl-link(href='#') Каталог продукции
              li: a.gl-link(href='#') Калькуляторы
              li: a.gl-link(href='#') ПВХ и ПУ ленты
              li: a.gl-link(href='#') Статьи
              li: a.gl-link(href='#') Новости
              li: a.gl-link(href='#') О компании
              li: a.gl-link(href='#') Тендеры
              li: a.gl-link(href='#') Контакты
              li: a.gl-link(href='#') Карта сайта
              
          .b-footer__menu-col
            .b-footer__menu-caption Каталог продукции
            ul.b-footer__menu-list
              li: a.gl-link(href='#') Главная
              li: a.gl-link(href='#') Каталог продукции
              li: a.gl-link(href='#') Калькуляторы
              li: a.gl-link(href='#') ПВХ и ПУ ленты
              li: a.gl-link(href='#') Статьи
              li: a.gl-link(href='#') Новости
              li: a.gl-link(href='#') О компании
              li: a.gl-link(href='#') Тендеры
              li: a.gl-link(href='#') Контакты
              li: a.gl-link(href='#') Карта сайта
              
          .b-footer__menu-col
            .b-footer__menu-caption &nbsp;
            ul.b-footer__menu-list
              li: a.gl-link(href='#') Главная
              li: a.gl-link(href='#') Каталог продукции
              li: a.gl-link(href='#') Калькуляторы
              li: a.gl-link(href='#') ПВХ и ПУ ленты
              li: a.gl-link(href='#') Статьи
              li: a.gl-link(href='#') Новости
              li: a.gl-link(href='#') О компании
              li: a.gl-link(href='#') Тендеры
              li: a.gl-link(href='#') Контакты
              li: a.gl-link(href='#') Карта сайта
              
        .b-footer__copyright-w
          ul.b-footer__dev-list
            li
              a.gl-link(href='#') 
                span Дизайн сайта 
                b KOLBINS
            li
              a.gl-link(href='#')
                span Верстка и программирование 
                b Digital Spectr

          .b-footer__copyright © 2017 www.rk-rti.ru. Все права защищены
            
mixin news_item(has_br, img, video_btn)
  .b-news__item
    a.b-news__item-img(href='#')
      .b-news__item-img-w
        img(src= img ? img : 'images/cristina-gottardi-259243.png')
        - if (video_btn)
          .b-article__video-btn Включите

    .b-news__info
      .b-news__info-date 22 мая 2017
      .b-news__info-name 
        span Заголовок 
        - if (has_br)
          span.phone_hidden <br>
        span  новости, статьи

      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 

      .b-news__info-footer
        .fl: a.butt.cart_butt.butt-red(href='#') Читать статью
                                
mixin tv_item(tv_caption, img, tv_text)
  .b-news__item
    a.b-news__item-img(href='#')
      .b-news__item-img-w
        img(src= img ? img : 'images/tv_1.png')
        .b-article__video-btn Включите

    .b-news__info
      .b-news__info-date 22 мая 2017
      .b-news__info-name 
        span!= tv_caption

      -if (tv_text)
        p Не знаете как правильно соединить круглые полиуретановые ремни? Посмотрите обучающее видео от компании Хольцер, возможно оно будет полезно Вам. Основные этапы сварки ремней… 
      - else 
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 

      .b-news__info-footer
        .fl: a.butt.cart_butt.butt-red(href='#') Смотреть видео
                    
mixin contacts_item(map)
  .b-news__item
    - if (map == true)
      .b-news__map-holder
        .b-news__map.map(id= 'map_' + Math.ceil(Math.random() * 100))
    - else
      .b-news__item-img
        .b-news__item-img-w
          img(src= map)
          
    .b-news__info
      .b-news__info-name 
        span ООО «Хольцер»
        
      p - главный офис. Отдел по работе<br>с заявками клиентов
      
      .b-news__office
        .b-news__office-city Москва
        .b-news__office-phone +7 (495) 505 65 43
        .b-news__office-city
          a.b-news__office-link(href='mailto:5056543@mail.ru') 5056543@mail.ru
        
      .b-news__office
        .b-news__office-city Пн, Вт, Ср, Чт, Пт с 9:00 до 18:00
        .b-news__office-city
          | Skype &nbsp;
          a.b-news__office-link(href='#') www.rk-rti.ru
        
mixin popups(history, cart_2)
  - if (cart_2)
    #callback_info.b-popup.b-popup__v2
      <span data-fancybox-close="" class="fancybox-close-small"></span>
      input(type='hidden' autofocus)
      .b-popup__inner._t-c
        .b-popup__caption Назначьте время звонка менеджера
    
        p Выберите, когда Вам будет удобно получить звонок нашего менеджера для завершения заказа
    
        ul.b-cart__callback
          li
            .b-product__range-label
              .selectTrigger.b-product__range-trigger._mod-simulator_(data-no-overlay='true' data-trigger-for='#callback_day_select')
                span День
                
              .b-product__range-select.select__v1._select-v1.skipOverlayClosing._no_select
                select#callback_day_select.select2(data-doubling='#callback_day' data-keep-placeholder='true' data-placeholder='День')
                  option(selected disabled)
                  option Сегодня
                  option Завтра
                  
              //-.b-product__range-select._select-v3._keep-open._mod-abs.skipOverlayClosing
                select#callback_day_select.select2(data-placeholder='День' data-doubling='#callback_day' data-no-overlay='true')
                  option(selected disabled) 
                  option Сегодня
                  option Завтра

              #callback_day.b-product__range-double &nbsp;
              
          li
            .b-product__range-label
              .selectTrigger.b-product__range-trigger._mod-simulator_(data-no-overlay='true' data-trigger-for='#callback_time_select')
                span Время
                
              .b-product__range-select.select__v1._select-v1.skipOverlayClosing._no_select
                select#callback_time_select.select2(data-doubling='#callback_time' data-keep-placeholder='true' data-placeholder='Время')
                  option(selected disabled)
                  option 14:30
                  option 15:30
                  option 16:30
                  option 17:30
                    
              //-.b-product__range-select._select-v3._keep-open._mod-abs.skipOverlayClosing
                select#callback_time_select.select2(data-placeholder='Время' data-doubling='#callback_time' data-no-overlay='true')
                  option(selected disabled) 
                  option 14:30
                  option 15:30
                  option 16:30
                  option 17:30

              #callback_time.b-product__range-double &nbsp;
    
        div
          a.butt.butt-red.butt_v2.butt-checkout(href='#')
            span Назначить время звонка
    
    
  - if (history)
    #order_info.b-popup.b-popup__v1
      .b-popup__inner
        .b-popup__caption 
          span Подробнее о заказе  
          span.phone_vis <br> 
          span №GR1654
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        
        .b-cart__history-table
          .b-cart__history-table__head.phone_hidden
            .b-cart__history-table__cell Заголовок колонки
            .b-cart__history-table__cell Заголовок колонки
          
          .b-cart__history-table__row
            .b-cart__history-table__cell 
              span Заголовок параметра
            .b-cart__history-table__cell 
              span Значение 
              span.phone_vis На мобильном устройстве шапка таблицы с названием колонок не показывается. Ячеки заполняют всю ширину друг за другом, где верхняя строка - бывшая левая ячейка, нижняя - бывшая правая.  
           
          .b-cart__history-table__row
            .b-cart__history-table__cell 
              span Заголовок параметра
            .b-cart__history-table__cell 
              span Значение 
              span.phone_vis На мобильном устройстве шапка таблицы с названием колонок не показывается. Ячеки заполняют всю ширину друг за другом, где верхняя строка - бывшая левая ячейка, нижняя - бывшая правая.
  
          .b-cart__history-table__row.phone_hidden
            .b-cart__history-table__cell 
              span Заголовок параметра
            .b-cart__history-table__cell 
              span Значение 
              span.phone_vis На мобильном устройстве шапка таблицы с названием колонок не показывается. Ячеки заполняют всю ширину друг за другом, где верхняя строка - бывшая левая ячейка, нижняя - бывшая правая.  
           
          .b-cart__history-table__row
            .b-cart__history-table__cell 
              span Заголовок параметра
            .b-cart__history-table__cell 
              span Значение 
              span.phone_vis На мобильном устройстве шапка таблицы с названием колонок не показывается. Ячеки заполняют всю ширину друг за другом, где верхняя строка - бывшая левая ячейка, нижняя - бывшая правая.  
        
        .phone_hidden
          .b-popup__caption._mod-1 Дополнительный заголовок
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
          
          .b-cart__history-table
            .b-cart__history-table__head.phone_hidden
              .b-cart__history-table__cell Заголовок колонки
              .b-cart__history-table__cell Заголовок колонки
    
            .b-cart__history-table__row
              .b-cart__history-table__cell
                span Заголовок параметра
              .b-cart__history-table__cell
                span Значение 
                span.phone_vis На мобильном устройстве шапка таблицы с названием колонок не показывается. Ячеки заполняют всю ширину друг за другом, где верхняя строка - бывшая левая ячейка, нижняя - бывшая правая.  
    
            .b-cart__history-table__row
              .b-cart__history-table__cell
                span Заголовок параметра
              .b-cart__history-table__cell
                span Значение 
                span.phone_vis На мобильном устройстве шапка таблицы с названием колонок не показывается. Ячеки заполняют всю ширину друг за другом, где верхняя строка - бывшая левая ячейка, нижняя - бывшая правая.
    
            .b-cart__history-table__row.phone_hidden
              .b-cart__history-table__cell
                span Заголовок параметра
              .b-cart__history-table__cell
                span Значение 
                span.phone_vis На мобильном устройстве шапка таблицы с названием колонок не показывается. Ячеки заполняют всю ширину друг за другом, где верхняя строка - бывшая левая ячейка, нижняя - бывшая правая.  
    
            .b-cart__history-table__row
              .b-cart__history-table__cell
                span Заголовок параметра
              .b-cart__history-table__cell
                span Значение 
                span.phone_vis На мобильном устройстве шапка таблицы с названием колонок не показывается. Ячеки заполняют всю ширину друг за другом, где верхняя строка - бывшая левая ячейка, нижняя - бывшая правая.
                

mixin link_or_span(active, link, link_text, link_class, li_class)
  li(class= active ? 'active' : '' class= li_class || '')
    - if (active)
      span(class= link_class): span.dm= link_text
    - else
      a(class= link_class href= link): span.dm= link_text

mixin scripts(index, about, dealers, panels, article, contacts)
  //-script(src='js/jquery1.10.js')
  //-script(src='js/jquery.inputmask.bundle.js')
  //-script(src='js/jquery.validationEngine.js')
  //-script(src='js/jquery.validationEngine-ru.js')
  //-script(src='js/jquery-ui-1.10.2.custom.min.js')
    
