extends _layout.pug
include _mixins.pug

block variables
  - var page_title = 'RK каталог';
  - var map_active = 0;
  - var nav_active = 0;
  - var dropdown_active = 0;

block content
  .section.section__title._title-red
    .section__inner
      .b-pagination
        ul.b-pagination__list
          li: a.b-pagination__link(href='index.html') Главная
          li: a.b-pagination__link(href='catalog.html') Каталог
          li: span.b-pagination__link Лента конвейерная GR
  
      .section__title-text Выберите подкатегорию
        
  .section
    .section__inner
      .b-product__range-w._mod-1
        .b-product__range-filter
          .b-product__range-title Фильтр
          //- tag FORM could be replaced with DIV, BUT it's class should be still b-product__range-form
          form(action='#' class='b-product__range-form')
            .b-product__range-group
              +manufactures_select()

            .b-product__range-group._group-price
              .b-product__range-label Стоимость
                
              .f-row._half
                .f-cell
                  input.f-input.t-center.input__v2
                .f-cell
                  input.f-input.t-center.input__v2
              
            .b-product__range-group
              .b-product__range-label.dt_hidden
                span Наличие товара
                span.i-chevron_down
              .b-product__range-select.select__v2
                select
                  option(disabled selected) Наличие товара
                  option Все товары 
                  option Только в наличии
                  
          button.butt.butt-red_white.butt_v2.dt_hidden
            span Показать товары
          
        .b-product__range
          ul.b-product__range-list
            +loop_while(2)
              li
                .b-product__range-item
                  a.b-product__range-img(href='#')
                    img(src='images/range_1.png') 
                  .b-product__range-info
                    .b-product__range-name Лента конвейерная GR
                    a.butt.butt-red.butt_v1(href='#')
                      span.dm Подробнее
            +loop_while(4)
              li.phone_hidden
                .b-product__range-item
                  a.b-product__range-img(href='#')
                    img(src='images/range_1.png') 
                  .b-product__range-info
                    .b-product__range-name Лента конвейерная GR
                    a.butt.butt-red.butt_v1(href='#')
                      span.dm Подробнее
  .section
    .section__inner
      .b-product__description-w._mod-1
        .b-product__description
          .b-article._mod-1
            h2 
              span Конвейерная лента - 
              span.tab_hidden <br>
              span Практичное приспособление для транспортировки грузов
            p Компания «Хольцер» специализируется на производстве и продаже качественных РТИ изделий в Москве и по всей России. Такие комплектующие отличаются высокой прочностью и имеют длительный срок эксплуатации. Особое место в товарном ассортименте завода занимают неформовые РТИ, которые нашли широкое применение и востребованы в различных сферах промышленности и хозяйственной деятельности. На нашем сайте представлена продукция производителей РТИ с мировым именем, таких как Holzer Flexo, Rubber and Plastic и Gates Corporation по доступным ценам. А так же резиновые изделия под заказ собственного производства.
        .b-product__review
          .b-article__video-holder
            .b-article__video
              img(src='images/video.png')
            .b-article__video-btn Включите
              
  +client_section()
  
  +delivery_section()
  
