extends _layout.pug
include _mixins.pug

block variables
  - var page_title = 'RK категория';
  - var map_active = 0;
  - var nav_active = 0;
  - var dropdown_active = 0;

block content
  .section.section__title._title-red._mod-1
    .section__inner
      .b-pagination
        ul.b-pagination__list
          li: a.b-pagination__link(href='index.html') Главная
          li: a.b-pagination__link(href='catalog.html') Каталог
          li: span.b-pagination__link Лента конвейерная GR
  
      .section__title-text Выберите продукцию
        
  .section
    .section__inner
      .b-product__range-w._mod-1
        .b-product__category-info
          a.b-product__category-img(href='#')
            img(src='images/category_1.png')
            .b-product__category-name Транспортная конвейерная лента

          .b-product__category-description
            p Минимальная партия продажи, вес одного места, объем и полные технические и физические характеристики продукции, указаны в каждой позиции. Выберите необходимый Вам размер и нажмите на позицию в таблице.
            p Для того чтобы ознакомиться с адресами офисов нашей компании купить продукцию, посмотрите контакты. Компания Хольцер работает для Вас в по всей России.

            button.butt.butt-red_white.butt_v2
              span Скачать прайс-лист
            
        .b-product__range
          .b-product__category
            form(action='#')
              ul.b-product__category-filter
                li
                  .f-input__w.b-header__search
                    input.f-input.input__v1.autocomplete(placeholder='Начните вводить название')
                    button.butt.butt__search
                      span.i-search
                li
                  p Сортировать товары по:
                    
                  ul.b-product__category-sort.triggerList
                    li
                      .b-product__category-trigger.triggerBtn
                        span.dm Цене
                        span.dm.i-chevron_down
                        span.dm.i-chevron_up.phone_hidden
                        
                    li.phone_hidden
                      .b-product__category-trigger.triggerBtn
                        span.dm Популярности
                        span.dm.i-chevron_down
                        span.dm.i-chevron_up
                        
                    li.phone_hidden
                      .b-product__category-trigger.triggerBtn
                        span.dm Названию
                        span.dm.i-chevron_down
                        span.dm.i-chevron_up
                          
            ul.b-product__category-results
              +loop_while(3)
                li
                  .b-product__category-item
                    .b-product__category-item-name 
                      span Лента шевронная 500 
                      span._br <br>
                      span ЕР250/2 3/1.0 С15 GR
                    .b-product__category-item-price 
                      span 3 196 
                      span._rub &#x443;
                    .b-product__category-item-controls
                      .fl.b-product__category-counter
                        .b-product__counter.f-input__w.valCell
                          input.f-input.input__v3(value='0' data-min='0' data-max='1000' data-step='1' data-inputmask="'alias': 'numeric', 'rightAlign': false, 'allowMinus': false, 'allowPlus': false, 'autoGroup': false, 'groupSeparator': '', 'autoUnmask': true, 'digits': 0, 'placeholder': '0', 'digitsOptional': false" )
                          span.f-input_label шт
                          span.butt.butt-white.counter_butt._minus.valMinus.i-minus
                          span.butt.butt-white.counter_butt._plus.valPlus.i-plus
                      .fr.b-product__category-footer
                        a.butt.cart_butt.butt-red(href='#') В корзину
                        
              +loop_while(6)
                li.tab_hidden
                  .b-product__category-item
                    .b-product__category-item-name 
                      span Лента шевронная 500 
                      span._br <br>
                      span ЕР250/2 3/1.0 С15 GR
                    .b-product__category-item-price
                      span 3 196 
                      span._rub &#x443;
                    .b-product__category-item-controls
                      .fl.b-product__category-counter
                        .b-product__counter.f-input__w.valCell
                          input.f-input.input__v3(value='0' data-min='0' data-max='1000' data-step='1' data-inputmask="'alias': 'numeric', 'rightAlign': false, 'allowMinus': false, 'allowPlus': false, 'autoGroup': false, 'groupSeparator': '', 'autoUnmask': true, 'digits': 0, 'placeholder': '0', 'digitsOptional': false" )
                          span.f-input_label шт
                          span.butt.butt-white.counter_butt._minus.valMinus.i-minus
                          span.butt.butt-white.counter_butt._plus.valPlus.i-plus
                      .fr.b-product__category-footer
                        a.butt.cart_butt.butt-red(href='#') В корзину
                        
            ul.b-product__category-controls
              li.phone_vis._prev: a.gl-link(href='#')
                span.i-chevron_left
              li.phone_hidden: span 1
              li.phone_hidden: a.gl-link(href='#') 2
              li.phone_hidden: a.gl-link(href='#') 3
              li.phone_hidden: a.gl-link(href='#') 4
              li.phone_hidden: a.gl-link(href='#') ...
              li._next: a.gl-link(href='#') 
                span.i-chevron_right
              li._more
                a.butt.butt-gray_2.butt_v3(href='#') Показать еще
              
  .section
    .section__inner
      .b-product__description-w
        .b-product__description
          .b-article._mod-1
            h2 
              span Конвейерная лента - 
              span.tab_hidden <br>
              span Практичное приспособление для транспортировки грузов
            p Компания «Хольцер» специализируется на производстве и продаже качественных РТИ изделий в Москве и по всей России. Такие комплектующие отличаются высокой прочностью и имеют длительный срок эксплуатации. Особое место в товарном ассортименте завода занимают неформовые РТИ, которые нашли широкое применение и востребованы в различных сферах промышленности и хозяйственной деятельности. На нашем сайте представлена продукция производителей РТИ с мировым именем, таких как Holzer Flexo, Rubber and Plastic и Gates Corporation по доступным ценам. А так же резиновые изделия под заказ собственного производства.
        .b-product__review
          .b-article__video-holder
            .b-article__video
              img(src='images/video.png')
            .b-article__video-btn Включите
              
  +client_section()
  
  +delivery_section()
  
