#order_info.b-popup.b-popup__v1
  <span data-fancybox-close="" class="fancybox-close-small"></span>
  .b-popup__inner
    .b-popup__caption
      span Подробнее о заказе  
      span.phone_vis <br> 
      span №GR1651
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

    .b-cart__history-table
      .b-cart__history-table__head.phone_hidden
        .b-cart__history-table__cell Заголовок колонки
        .b-cart__history-table__cell Заголовок колонки

      .b-cart__history-table__row
        .b-cart__history-table__cell
          span Заголовок параметра
        .b-cart__history-table__cell
          span Значение 
          span.phone_vis На мобильном устройстве шапка таблицы с названием колонок не показывается. Ячеки заполняют всю ширину друг за другом, где верхняя строка - бывшая левая ячейка, нижняя - бывшая правая.  

      .b-cart__history-table__row
        .b-cart__history-table__cell
          span Заголовок параметра
        .b-cart__history-table__cell
          span Значение 
          span.phone_vis На мобильном устройстве шапка таблицы с названием колонок не показывается. Ячеки заполняют всю ширину друг за другом, где верхняя строка - бывшая левая ячейка, нижняя - бывшая правая.

      .b-cart__history-table__row.phone_hidden
        .b-cart__history-table__cell
          span Заголовок параметра
        .b-cart__history-table__cell
          span Значение 
          span.phone_vis На мобильном устройстве шапка таблицы с названием колонок не показывается. Ячеки заполняют всю ширину друг за другом, где верхняя строка - бывшая левая ячейка, нижняя - бывшая правая.  

      .b-cart__history-table__row
        .b-cart__history-table__cell
          span Заголовок параметра
        .b-cart__history-table__cell
          span Значение 
          span.phone_vis На мобильном устройстве шапка таблицы с названием колонок не показывается. Ячеки заполняют всю ширину друг за другом, где верхняя строка - бывшая левая ячейка, нижняя - бывшая правая.  

    .phone_hidden
      .b-popup__caption._mod-1 Дополнительный заголовок
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 

      .b-cart__history-table
        .b-cart__history-table__head.phone_hidden
          .b-cart__history-table__cell Заголовок колонки
          .b-cart__history-table__cell Заголовок колонки

        .b-cart__history-table__row
          .b-cart__history-table__cell
            span Заголовок параметра
          .b-cart__history-table__cell
            span Значение 
            span.phone_vis На мобильном устройстве шапка таблицы с названием колонок не показывается. Ячеки заполняют всю ширину друг за другом, где верхняя строка - бывшая левая ячейка, нижняя - бывшая правая.  

        .b-cart__history-table__row
          .b-cart__history-table__cell
            span Заголовок параметра
          .b-cart__history-table__cell
            span Значение 
            span.phone_vis На мобильном устройстве шапка таблицы с названием колонок не показывается. Ячеки заполняют всю ширину друг за другом, где верхняя строка - бывшая левая ячейка, нижняя - бывшая правая.

        .b-cart__history-table__row.phone_hidden
          .b-cart__history-table__cell
            span Заголовок параметра
          .b-cart__history-table__cell
            span Значение 
            span.phone_vis На мобильном устройстве шапка таблицы с названием колонок не показывается. Ячеки заполняют всю ширину друг за другом, где верхняя строка - бывшая левая ячейка, нижняя - бывшая правая.  

        .b-cart__history-table__row
          .b-cart__history-table__cell
            span Заголовок параметра
          .b-cart__history-table__cell
            span Значение 
            span.phone_vis На мобильном устройстве шапка таблицы с названием колонок не показывается. Ячеки заполняют всю ширину друг за другом, где верхняя строка - бывшая левая ячейка, нижняя - бывшая правая.
                
