.b-cart {

  &__callback {
    text-align: center;

    > li {
      display: inline-block;
      vertical-align: top;
      padding: 0 25px;
      margin-bottom: 35px;
      text-align: left;
    }
  }

  &__history {

    &-table {
      margin: 0 -10px;

      &__head {
        @extend %clearfix;
        font: 16px $ClearSansMedium;
        letter-spacing: .01em;

        .b-cart__history-table__cell {
          background: $dirty_white;
        }
      }

      &__row {
        @extend %clearfix;

        @include phone() {
          margin-bottom: 12px;
        }

        @include phone-min() {

          &:nth-child(2n - 1) {
            background: $dirty_white;
          }
        }
      }

      &__cell {
        padding: 9px 10px;

        @include phone-min() {
          float: left;
          width: 50%;
          padding: 15px 10px;
          font-size: 16px;

          .b-cart__history-table__head & {
            background: $gl_gray;
            color: #fff;
            font-size: 20px;
            padding: 12px 10px;
          }
        }

        @include phone() {
          line-height: 1.4;
          letter-spacing: .03em;

          &:first-child {
            background: $dirty_white;
            font: 16px $ClearSansMedium;
            letter-spacing: .01em;
          }
        }
      }
    }

    &-col {
      float: left;
      width: 50%;
      padding-left: 30px;

      @include wide-desktop() {
        width: auto;
        float: none;

        + .b-cart__history-col {
          margin-top: 40px;
        }

        &._magic-col {
          display: none;
        }
      }

      @include small-desktop() {
        width: 50%;
        float: left;

        + .b-cart__history-col {
          margin-top: 0;
        }

        &._magic-col {
          display: block;
        }
      }

      @include tablet() {
        width: auto;
        float: none;
        padding-left: 0;

        + .b-cart__history-col {
          margin-top: 40px;
        }
      }

      @include phone() {
        &._magic-col {
          display: none;
        }

        + .b-cart__history-col {
          margin-top: 25px;
        }
      }
    }

    &-tabs {
      .section & {
        @extend %clearfix;
        margin: -8px 0 12px -28px;
        display: inline-block;
        vertical-align: top;
        width: 100%;
        border: none;
        background: none;
        letter-spacing: .025em;

        li {
          float: left;
          padding: 0 0 0 28px !important;
          margin: 0 0 12px !important;
          border: none !important;
          background: none !important;
        }

        @include wide-desktop() {
          margin-top: -4px;
        }

        @include small-desktop() {
          margin-top: -8px;
        }

        @include phone-min() {
          font-size: 18px;
        }

        @include phone() {
          margin-top: 14px;
          margin-left: -22px;
          margin-bottom: 15px;

          li {
            padding: 0 0 0 22px !important;
          }
        }
      }
    }

    &-panel,
    &-panels {
      border: none !important;
      background: #fff !important;
      border-radius: 0 !important;
      padding: 0 !important;

      .tab-content {
        @extend %clearfix;

        &._col-holder {
          margin-left: -30px;
          margin-bottom: 25px;

          @include wide-desktop() {
            margin-bottom: 20px;

            .b-cart__status {
              //margin-right: 12px;
            }
          }

          @include small-desktop() {
            margin-bottom: 20px;

            .b-cart__status {
              //margin-right: 0;
            }
          }

          @include tablet() {

            .b-cart__status {
              //margin-right: 12px;
            }
          }

          @include phone() {

            .b-cart__status {
              //margin-right: 0;
            }
          }
        }
      }
    }

    &-link {
      .b-cart__history-tabs & {
        padding: 0 !important;

        span {
          @include transition_all(border-bottom-color .3s, color .3s);
          border-bottom: 1px solid transparentize($gl_red, .5);
          color: $gl_red;
        }

        &:hover {
          span {
            border-bottom-color: transparent;
          }
        }
      }

      .b-cart__history-tabs .ui-tabs-active & {
        cursor: default;

        span {
          color: $gl_black;
          border-bottom-color: transparent;
        }
      }
    }

    &-description {
      padding-top: 8px;
    }

    &-info {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -ms-flex-align: start;
      align-items: flex-end;
      width: 100%;
      margin-bottom: 12px;
      font-size: 14px;
      overflow: hidden;

      dt {
        float: left;
        clear: both;
        position: relative;
        z-index: 1;
        letter-spacing: .02em;
        max-width: 67%;

        span {
          background: #fff;
          padding-right: 3px;
        }
      }

      dd {
        float: right;
        position: relative;
        padding-left: 3px;
        //padding-right: 3px;
        //max-width: 33%;
        font-family: $ClearSansBold;
        margin-left: auto;

        &:before {
          position: absolute;
          right: 100%;
          bottom: 0;
          content: '………………………………………………………………………………………………………………………………………………';
        }

      }

      @include phone-min() {
        font-size: 18px;
        margin-bottom: 8px;

        dd {
          //padding-right: 15px;
        }
      }
    }

    &-unit {
      position: relative;
      margin-bottom: -10px;

      p {
        margin-bottom: 10px;
        font: 18px/1.6 $ClearSansRegular;

        b {
          font-family: $ClearSansBold;
        }
      }

      + .b-cart__history-unit {
        margin-top: 50px;
      }

      @include wide-desktop() {
        //margin-right: -20px;
        margin-bottom: 0;

        + .b-cart__history-unit {
          margin-top: 40px;

          .b-cart__history-col & {
            //margin-top: 15px;
          }
        }
      }

      @include small-desktop() {
        margin-right: 0;
      }

      @include tablet() {
        //margin-right: -20px;
      }

      @include phone() {
        margin-right: 0;

        p {
          font-size: 14px;
          line-height: 1.3;
          max-height: 3.9em;
          overflow: hidden;
        }

        + .b-cart__history-unit {
          margin-top: 48px;

          .b-cart__history-col & {
            margin-top: 25px;
          }
        }
      }
    }

    &-caption {
      @extend %clearfix;
      font: 24px/30px $ClearSansBold;
      display: inline-block;
      vertical-align: top;
      width: 100%;
      margin-bottom: 10px;

      @include phone() {
        font-size: 16px;
        line-height: 22px;
      }
    }

    &-date {
      color: $gl_gray_light;
      margin-bottom: 22px;

      @include phone-min() {
        font-size: 18px;
        letter-spacing: .05em;
      }
    }
  }

  &__status {
    position: relative;
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    //padding-right: 7px;
    padding-left: 21px;
    letter-spacing: -.02em;

    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      margin-top: -7px;
      width: 14px;
      height: 14px;
      border-radius: 100%;
    }

    &._declined {
      &:before {
        background: $gl_red;
      }
    }

    &._approved {
      &:before {
        background: #6ec946;
      }
    }

    &._completed {
      &:before {
        background: #5873e5;
      }
    }

  }

  &__title {
    font: 30px $ClearSansMedium;
    margin-bottom: 22px;
    letter-spacing: .01em;

    .b-cart__list-col & {
      //letter-spacing: .08em;
    }

    @include wide-desktop() {
      margin-bottom: 18px;
    }

    @include small-desktop() {
      margin-bottom: 24px;
    }

    @include phone() {
      font-size: 16px;
      margin-bottom: 7px;
    }

    &-br {
      @include wide-desktop-min() {
        display: none;
      }

      @include small-desktop() {
        display: none;
      }

    }
  }

  &__text {
    font-size: 18px;
    line-height: 1.33;
    margin-bottom: 20px;
    letter-spacing: .02em;
    min-height: 2.5em;

    .b-cart__list-col & {
      @include wide-desktop-min() {
        margin-bottom: 25px;
      }
    }

    ._user-data & {
      min-height: 0;

      @include wide-desktop-min() {
        margin-bottom: 20px;
      }
    }

    @include phone() {
      font-size: 14px;
    }
  }

  &__user {

    &-data {
      @extend %clearfix;
      line-height: 30px;
      margin: -9px 0 32px;
      font-family: $OpenSans;

      span {
        display: inline-block;
        vertical-align: middle;
        line-height: 1.2;
        padding: 7px 0;
        width: 100%;
      }

      dt {
        float: left;
        width: 34%;
        opacity: .6;
        clear: both;
      }

      dd {
        float: right;
        width: 65%;
        text-align: right;
        margin-bottom: 4px;
        font-weight: bold;
      }
    }

    &-edit {
      @extend %icon_pseudo;
      display: inline-block;
      vertical-align: middle;
      margin-left: 24px;
      width: 25px;
      height: 25px;
      font-size: 14px;
      line-height: 25px;
      border-radius: 100%;
      text-align: center;
      background: #5e6069;

      &:before {
        content: $i-pen;
      }

      &._edit-mode {
        &:before {
          content: $i-check;
        }
      }

      @include phone-min() {
        margin-left: 10px;
      }
    }

    &-control {
      color: #fff;
      line-height: 20px;
      margin-bottom: 15px;
      letter-spacing: .025em;

      ._label {
        opacity: .5;
      }

      @include phone-min() {
        font-size: 16px;
        line-height: 25px;
        margin-bottom: 5px;
      }
    }

    &-name {
      font: 24px/1.3 $ClearSansBold;

      > span {
        display: inline-block;
        vertical-align: top;
      }

      @include phone() {
        font-size: 18px;
      }
    }
  }

  &__edit {
    &-controls {
      position: relative;
      margin-top: 15px;

      @include small-desktop-min() {
        position: absolute;
        bottom: 43px;
        right: 38px;
        left: 38px;
      }

      @include phone() {
        margin-top: 25px;
      }

      .butt.butt_v1 {
        padding: 0 22px;
      }
    }
  }

  &__checkout {
    box-shadow: 0 16px 26px rgba(225, 225, 225, .2);
    border-radius: 5px;
    background: #fff;

    @include small-desktop() {
      background: #fff;
      overflow: hidden;
      border-radius: 5px;
      position: relative;
    }

    &-options {
      @extend %clearfix;
      margin-left: -30px;
      margin-right: -10%;

      @include phone() {
        text-align: center;
        margin-right: 0;

        > li {
          + li {
            margin-bottom: -15px;
          }
        }

        ._user-data & {
          text-align: left;
          padding-top: 15px;
          padding-bottom: 5px;
        }
      }

      > li {
        padding-left: 30px;
        line-height: 50px;

        @include phone-min() {
          float: left;
          margin-top: 5px;
          width: 50%;
        }

        ._user-data & {
          width: auto;

          .butt.butt_v2.butt-checkout {
            padding: 0 27px;
            letter-spacing: .025em;

            @include phone-min() {
              min-width: 200px;
            }

            @include phone() {
              width: auto;
              min-width: 200px;
            }
          }
        }
      }

      .b-cart__history-unit & {
        padding-top: 15px;
        margin-left: -20px;
        display: inline-block;
        vertical-align: top;

        li {
          padding-left: 20px;
          float: left;
        }

        @include phone() {
          margin-left: -10px;

          li {
            padding-left: 10px;
            line-height: 40px;
            max-width: 50%;
          }

          .butt.butt-order {
            width: 125px;
            height: 40px;
            line-height: 40px;
            padding: 0 3px;
            text-align: center;
            letter-spacing: -.04em;
          }
        }
      }
    }

    &-steps {
      @extend %clearfix;
      padding-top: 30px;
      margin-bottom: -10px;
      counter-reset: list1;

      > li {
        position: relative;
        padding-top: 35px;
        float: left;
        clear: left;
        width: 100%;
        margin-bottom: 65px;

        @include phone-min() {
          max-width: 490px;
        }

        &:last-child {
          margin-bottom: 0;
        }

        &:before {
          counter-increment: list1;
          content: "0" counter(list1);
          position: absolute;
          top: -10px;
          left: -7px;
          letter-spacing: -.05em;
          pointer-events: none;
          color: #8d91a3;
          opacity: .2;
          font: 84px/1 $ClearSansMedium;
        }
      }

      @include phone() {
        padding-top: 15px;
        margin-bottom: 0;

        > li {
          padding-top: 50px;
          margin-bottom: 45px;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }

    &-caption {
      font: 24px $ClearSansMedium;
      margin-bottom: 24px;
      letter-spacing: .01em;

      @include phone() {
        font-size: 16px;
        margin-bottom: 8px;
      }
    }

    &-head {
      background: #000;
      color: #fff;
      padding: 25px 15px 32px;
      text-align: center;

      @include small-desktop() {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 340px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
        flex-flow: column nowrap;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-align: stretch;
        align-items: stretch;
        -webkit-box-pack: center;
        -webkit-box-align: stretch;
      }

      @include phone() {
        width: auto;
        position: relative;
        padding: 30px 15px 45px;
      }

      ._user-data & {
        text-align: left;
        padding-left: 35px;
        padding-right: 35px;

        @include phone() {
          padding: 25px 30px 35px;
        }
      }
    }

    &-body {
      background: #fff;
      padding: 28px 38px 17px;

      @include wide-desktop() {
        padding-bottom: 12px;
      }

      @include small-desktop() {
        &._mod-1 {
          padding-top: 40px;
        }

        ._user-data & {
          padding-left: 31px;
          padding-right: 31px;

          .b-cart__user-data {
            margin-bottom: 5px;
          }
        }
      }

      @include tablet {
        padding-top: 30px;
        padding-left: 28px;

        &._mod-1 {
          padding-top: 30px;
          padding-right: 30px;
        }

        .b-cart__user-data {
          margin-top: -15px;
        }

        ._user-data & {
          padding-bottom: 25px;
        }
      }

      @include phone() {
        padding: 28px 12px 1px;

        &._mod-1 {
          padding-right: 12px;
        }

        ._user-data & {
          padding: 23px 15px 8px;
        }
      }

      .butt_v2 {
        text-align: center;
      }
    }

    &-total {
      opacity: .5;
      letter-spacing: .07em;
      color: #fff;
      margin-bottom: 1px;

      @include phone() {
        margin-bottom: 12px;
      }
    }

    &-price {
      font: 40px $ClearSansBold;

      @include small-desktop-min() {
        margin-bottom: 10px;
      }

      @include phone() {
        font-size: 30px;
      }
    }

    &-phone {
      text-align: center;
      display: none;

      p {
        font-size: 16px;
        margin-bottom: 20px;
        line-height: 1.4;
        letter-spacing: .025em;
      }

      .f-input__w {
        margin-bottom: 18px;
      }
    }

    &-phone-2 {
      text-align: center;
      padding-top: 37px;

      p {
        font-size: 16px;
        margin-bottom: 10px;
        line-height: 1.4;
        letter-spacing: .025em;
      }

      .b-cart__title {
        letter-spacing: -0.04em;
      }
    }

    &-list {
      overflow: hidden;
      opacity: .6;
      margin-bottom: 25px;
      letter-spacing: .04em;

      dt {
        float: left;
        clear: both;
        max-width: 60%;
        padding: 0 2px 0;
        position: relative;
        margin-bottom: 15px;

        &:after {
          content: '…………………………………………………………………………………………………………………………………………………………………………';
          position: absolute;
          bottom: 0;
          left: 100%;
          letter-spacing: 0;
        }
      }

      dd {
        float: right;
        max-width: 40%;
        background: #fff;
        z-index: 1;
        padding: 0 2px 0;
        margin-bottom: 15px;
        position: relative;
      }

      @include wide-desktop() {
        margin-bottom: 18px;
      }

      @include small-desktop() {
        margin-bottom: 23px;
      }

      @include tablet() {
        margin-bottom: 18px;
      }
    }

    &-controls {

      @include small-desktop-min() {
        text-align: center;
      }

      @include small-desktop() {
        margin-left: -29px;

        .butt {
          text-align: center;
          width: 100%;
          max-width: 250px;
          height: 50px;
          border-radius: 34px;
          padding: 0 5px;
          font: 16px/46px $ClearSansMedium;
        }
      }

      li {
        margin-bottom: 25px;

        @include small-desktop() {
          float: left;
          width: 50%;
          padding: 0 0 0 29px;

          &.b-cart__checkout-phone {
            float: none;
            width: auto;
            text-align: left;
            margin-left: -29px;

            &:before,
            &:after {
              content: " ";
              display: table;
            }
            &:after {
              clear: both;
            }

            .f-input__w,
            p {
              float: left;
              width: 50%;
              padding-left: 29px;
              margin-bottom: 0;
            }

            .gl-link {
              font-size: 14px;
            }
          }

          &.b-cart__checkout-phone-2 {
            float: none;
            width: auto;
            text-align: left;
            margin: 0 0 0 -29px;
            padding-top: 3px;

            &:before,
            &:after {
              content: " ";
              display: table;
            }
            &:after {
              clear: both;
            }

            p {
              font-size: 14px;
              line-height: 1.6;
            }

            .b-cart__title {
              font-size: 28px;
              padding-top: 5px;
            }

            p,
            .b-cart__title {
              float: left;
              width: 50%;
              padding-left: 29px;
            }

          }
        }

        @include tablet() {
          &.b-cart__checkout-phone-2,
          &.b-cart__checkout-phone {
            .b-cart__title,
            .f-input__w,
            p {
              float: none;
              width: auto;
              margin-bottom: 11px;
            }
          }
        }

        @include phone() {
          width: auto;
          float: none;
          text-align: center;

          .butt.butt_v1 {
            height: 45px;
            padding: 0 22px;
            width: auto;
            display: inline-block;
          }

          &.b-cart__checkout-phone-2 {
            text-align: center;
            padding-top: 0;
          }
        }
      }

      .butt.butt_v1 {
        padding: 0 22px;

        @include tablet() {
          padding: 0 10px;
        }

        @include small-desktop-min() {
          padding: 0 32px;
        }
      }
    }

    @include small-desktop-min() {
      float: right;
      width: 340px;
      margin-bottom: -40px;
      position: relative;
      padding-bottom: 80px;
      box-shadow: 0 -24px 86px rgba(0, 0, 0, .27);

      &-head {
        border-radius: 5px 5px 0 0;
      }

      &-body {
        border-radius: 0 0 5px 5px;
      }

      ._user-data & {
        padding-bottom: 72px;
        background: #fff;
      }
    }

  }

  &__list {

    .b-product__category-results {
      padding-bottom: 20px;
    }

    .butt.cart_butt {
      min-width: 110px;
    }

    .b-product__category._cart-mod {
      padding-top: 8px;
      padding-bottom: 1px;

      @include wide-desktop() {
        padding-top: 16px;

        .b-product__category-results {
          padding-bottom: 15px;
        }
      }

      @include small-desktop() {
        padding-top: 20px;
        margin-bottom: 30px;

        .b-product__category-results {
          padding-bottom: 8px;
        }
      }

      @include tablet() {
        padding-top: 33px;
        margin-bottom: 15px;

        .b-product__category-results {
          padding-bottom: 22px;
        }
      }

      @include phone() {
        padding-top: 10px;
        overflow: hidden;

        .b-product__category-results {
          margin-bottom: -45px;
        }
      }
    }

    .b-product__category._checkout-mod {
      @include small-desktop() {
        margin-bottom: 30px;
      }

      @include tablet() {
        //padding-bottom: 15px;

        ._user-data & {
          margin-bottom: 15px;
        }
      }

      @include phone() {
        padding: 32px 10px 1px 20px;
        margin-bottom: 12px;
      }
    }

    .b-product__category ._col-holder {
      &:before,
      &:after {
        content: " ";
        display: table;
      }
      &:after {
        clear: both;
      }

      margin-left: -30px;

      @include small-desktop() {
        ._user-data & {
          margin-bottom: 22px;
        }
      }

      @include tablet() {
        margin-left: 0;
        margin-bottom: -25px;

        .f-row {
          margin-left: 0;
        }

        .f-input__w {
          //padding-left: 10px;
        }

        .f-input__w._check-holder {
          float: left;
          width: 50%;
        }
      }

      @include phone() {
        margin-bottom: -10px;

        .f-input__w._check-holder {
          float: none;
          width: 100%;
        }

        ._user-data & {
          margin-bottom: 15px;
        }
      }
    }

    @include small-desktop-min() {
      margin-right: 372px;
      padding-bottom: 50px;
    }

    @include wide-desktop-min() {
      padding-bottom: 75px;

      ._user-data & {
        padding-bottom: 45px;
      }
    }

    &-col {
      @include tablet-min() {
        float: left;
        width: 50%;
        padding-left: 30px;

        .f-row {
          margin: 0;
        }
      }

      &:first-child {
        @include small-desktop() {
          max-width: 48%;
        }

        @include tablet() {
          max-width: none;
          padding-bottom: 25px;

          ._user-data & {
            padding-bottom: 45px;
          }
        }
      }

      @include phone() {
        margin-left: -5px;

        .b-cart__text,
        .b-cart__title {
          margin-bottom: 15px;
        }
      }
    }
  }
}

._user-data .b-cart__list .b-product__category._history-mod ._col-holder {
  //background: darken(#060080, 10%);
  //background: #060080;

  @include tablet() {
    margin-bottom: 10px;
  }

  @include phone() {
    margin-bottom: 0;
  }
}
